.gpt3__header {
  display: flex;
  margin: 3rem;
  height: 100%;
  width: 100%;
  }

.gpt3__header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 5rem;
}

.gpt3__header-content h1{
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 80px;
  letter-spacing: -0.04em;
}

.gpt3__header-content p {
  max-width: 50vw;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: var(--color-text);
  margin-top: 1.5rem;
}

.gpt3__header-content_input  {
  width: 100vw;
  margin: 2rem 0 1rem;
  display: flex;
}

.gpt3__header-content__input input {
  flex: 2;
  width: 70%;
  min-height: 50px;
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 27px;
  background: var(--color-footer);
  border: solid 2px var(--color-footer);
  padding: 0 1rem;
  outline: none;
  color: #fff;
  border-radius: 5px 0px 0px 5px;
}

.gpt3__header-content__input button {
  flex: 0.6;
  width: 30%;
  min-height: 50px;
  background: #ff4820;
  border: none;
  border-radius:  0 5px 5px 0 ;
  transform: matrix(1, 0, 0, 1, 0, 0);
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #fff;
  outline: none;
  cursor: pointer; 
}

.gpt3__header-content__people {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
}

.gpt3__header-content__people p {
  margin-left: 2rem;
  font-family: var(--font-family);
  font-weight: 500;

}


.gpt3__header-image {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
 padding: 0 2rem;
 margin: 0 2rem;
}

.gpt3__header-image img {
  width:100%;
  height:100%;
}

@media screen and (max-width: 1050px) {
  .gpt3__header h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .gpt3__header p {
    font-size: 16px;
    line-height: 24px;
  }

  .gpt3__header-content__people p { 
    margin: 0;
  }

  .gpt3__header-content__input input,  
  .gpt3__header-content__input :no-button {
    font-size: 16px;
    line-height: 24px;
  }
}

  @media screen and (max-width: 490px) {
    .gpt3__header h1 {
      font-size: 36px;
      line-height: 48px;
  }

  .gpt3__header p {
    font-size: 14px;
    line-height: 24px;
  }

  .gpt3__header-content_input input,
  .gpt3__header-content__input button {
    font-size: 12px;
    line-height: 16px;
  }
}