.estilo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: red;
    border: solid 1px blue;
    height: 12vh;
    margin: 0;
    list-style-type: none;
}